@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, button {
  font-family: 'Roboto'; 
}

header,
.hero {
  background-color: #1F2937;
  padding-left: 10%;
  padding-right: 10%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;   
  padding-bottom: 10px;
}

header img {
  width: 225px;
  height: 75px;
}

nav ul {
  display: flex;
  gap: 24px;
  font-size: 18px;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12%;
  padding-top: 5%;
  align-items: center;
  gap: 24px;
}

.hero-img img {
  width: 500px;
  height: 250px;
}

.card-title {  
  display: flex;
  flex-direction: column;
}

.card-title h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 24px;
}

.card-title p {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 48px;
}

.card-title button {
  font-size: 18px;
  background-color: #3882F6;
  width: 96px;
  height: 36px;
  color: #E5E7EB;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  color:#1F2937;
  font-size: 36px;
  padding: 3%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 80px;
  padding: 5% 18%;

}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-img img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 4px solid #3882f6;
}

figcaption {
  width: 150px;
  text-align: center;
  color: #3b3533;
  font-size: 16px;
}

.quote {
  background-color: #E5E7EB;
  padding: 5% 18%;
  color: #1F2937;
  font-weight: 300;
  font-size: 16px;
}

.quote figcaption {
  margin-left: auto;
  font-weight: 900;
}

.cta {
  padding: 5% 10%;
}

.cta-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 15px;
  padding: 3% 8%;
}

.cta-card h3 {
  padding-bottom: 8px;
}

.cta-card p {
  padding-right: 48px;
}

.cta-card div:first-child {
  flex: 1;
}
.cta-card button {
  font-size: 18px;
  background-color: #3882F6;
  width: 96px;
  height: 36px;
  color: #E5E7EB;
  border-radius: 10px;
  border: 2px solid #E5E7EB;
  cursor: pointer;
}